body{
    display: flex;
    flex-direction: column;
}

.page{
    display: flex;
}
.settings{
    display: flex;
    flex-direction: column; 
    gap: 10px;
}
.container{
    /*display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100,1fr);*/
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box{
    border: 1px solid black;
    user-select: none;
    float: right;
}

    
